@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    /* Style for dark background */
    body {
        background-color: #333;
        color: #fff;
    }

    /* Style for privacy container */
    .privacy-container {
        background-color: #222;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }
    

    /* Style for privacy title */
    .privacy-title {
        color: #fff;
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Style for privacy content */
    .privacy-content {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="privacy-container">
    <h2 class="privacy-title">Information Collection and Use</h2>
    <p class="privacy-content">Your privacy is important to us. This Privacy Policy outlines the types of personal information we collect, how we use it, and the measures we take to keep it safe.</p>

    <h2 class="privacy-title">Security</h2>
    <p class="privacy-content">We take precautions to protect your personal information. We use industry-standard encryption technologies to safeguard your data and maintain the security of our website.</p>

    <h2 class="privacy-title">Third-Party Websites</h2>
    <p class="privacy-content">Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of any third-party sites you visit.</p>

    <h2 class="privacy-title">Changes to this Privacy Policy</h2>
    <p class="privacy-content">We reserve the right to update or change our Privacy Policy at any time. Any changes will be posted on this page, and the revised policy will be effective immediately upon posting.</p>

    <h2 class="privacy-title">Contact Us</h2>
    <p class="privacy-content">If you have any questions about our Privacy Policy or the practices of this website, please contact us.</p>
</div>
